* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: auto;
}
ul,
ol {
  list-style: none;
}
a,
a:visited,
a:link {
  text-decoration: none;
  display: block;
}
body {
  font-size: 10px;
}
img {
  border: none;
  vertical-align: middle;
}
textarea {
  resize: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
